.banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner > p {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
}
