.footer__wall{
  width: 100%;
  height: auto;
  background-color: rgb(13, 13, 57);
}
.footer__container {
  display: flex;
  width: 100%;
  height: auto;
  /* background-color: rgb(13, 13, 57); */
  border: none;
  outline: none;
  color: azure;
}

.address,
.contact__info,
.others {
  display: block;
  margin: 100px 30px;
  width: 100%;
  height: 100%;
}

.address > h3,
.contact__info > h3,
.others > h3 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.media{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}

.media > div{
  font-size: 1.7rem;
  color: azure;
  cursor: pointer;
}


@media only screen and (max-width: 500px){
  .footer__container{
    display: flex;
    flex-direction: column;
  }

.address,
.contact__info,
.others {
  display: inline-block;
  margin: 10px auto;
  width: 100%;
  height: 100%;
}
}