.card {
  max-width: 95%;
  margin: 15px auto;
  height: 500px;
  display: flex;
  border-radius: 5px;
  box-shadow: 5px 9px 3px #999;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: monospace;
}

.items {
  position: relative;
  display: block;
  margin: 10px;
  text-align: center;
  width: 100%;
}

.items > .food__name {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.items > .ingredient {
  display: flex;
  font-size: 3rem;
}

.items > .time__served,
.price {
  font-size: 2rem;
  font-weight: 600;
}

.button__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.item__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .card {
    margin-top: 1rem;
  }
  .items > .food__name {
    margin-top: 120px;
    font-size: 3rem;
  }
  .items > .ingredient {
    font-size: 1.5rem;
  }
}
